<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Sidebar -->
	<ul
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			href="/AIIT/"> <!-- 				<div class="sidebar-brand-icon rotate-n-15"> -->
			<!-- 					<i class="fas fa-laugh-wink"></i> --> <!-- 				</div> -->
			<div class="sidebar-brand-text mx-3">凱旋行列</div>
		</a>

		<!--             Divider -->
		<hr class="sidebar-divider my-0" />

		<!--             Nav Item - Dashboard -->
		<li class="nav-item active"><a class="nav-link"
			href="/AIIT/admin"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>後台總覽</span></a></li>

		<!--             Divider -->
		<hr class="sidebar-divider" />

		<!--             Heading -->
		<div class="sidebar-heading">功能</div>

		<!--             Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="/AIIT/admin/member/member_home" data-target="#collapseTwo"
			aria-expanded="true" aria-controls="collapseTwo"> <i
				class="fas fa-fw fa-cog"></i> <span>帳號</span>
		</a> <!-- 			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" -->
			<!-- 				data-parent="#accordionSidebar"> --> <!-- 				<div class="bg-white py-2 collapse-inner rounded"> -->
			<!-- 					<h6 class="collapse-header">Custom Member:</h6> --> <!-- 					<a class="collapse-item" href="/admin/member/member_home.html">Member</a> -->
			<!-- 				</div> --> <!-- 			</div> --></li>

		<!--             Nav Item - Utilities Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="/AIIT/admin/opus/opus_home" data-target="#collapseUtilities"
			aria-expanded="true" aria-controls="collapseUtilities"> <i
				class="fas fa-fw fa-wrench"></i> <span>詩歌</span>
		</a> <!-- 			<div id="collapseUtilities" class="collapse" --> <!-- 				aria-labelledby="headingUtilities" data-parent="#accordionSidebar"> -->
			<!-- 				<div class="bg-white py-2 collapse-inner rounded"> --> <!-- 					<h6 class="collapse-header">Custom Opus:</h6> -->
			<!-- 					<a class="collapse-item" href="/admin/opus/opus_home.html">Opus</a> -->
			<!-- 				</div> --> <!-- 			</div> --></li>
		<!--              Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="/AIIT/admin/content/content_home"
			data-target="#collapseUtilities" aria-expanded="true"
			aria-controls="collapseUtilities"> <i class="fas fa-fw fa-wrench"></i>
				<span>詩歌單章</span>
		</a> <!-- 			<div id="collapseUtilities" class="collapse" --> <!-- 				aria-labelledby="headingUtilities" data-parent="#accordionSidebar"> -->
			<!-- 				<div class="bg-white py-2 collapse-inner rounded"> --> <!-- 					<h6 class="collapse-header">Custom Content:</h6> -->
			<!-- 					<a class="collapse-item" href="/admin/conent/content_home.html">Content</a> -->
			<!-- 				</div> --> <!-- 			</div> --></li>
		<!--              Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="/AIIT/admin/content/content_home"
			data-target="#collapseUtilities" aria-expanded="true"
			aria-controls="collapseUtilities"> <i class="fas fa-fw fa-wrench"></i>
				<span>詩歌簡報</span>
		</a> <!-- 			<div id="collapseUtilities" class="collapse" --> <!-- 				aria-labelledby="headingUtilities" data-parent="#accordionSidebar"> -->
			<!-- 				<div class="bg-white py-2 collapse-inner rounded"> --> <!-- 					<h6 class="collapse-header">Custom Content:</h6> -->
			<!-- 					<a class="collapse-item" href="/admin/conent/content_home.html">Content</a> -->
			<!-- 				</div> --> <!-- 			</div> --></li>
		<!--              Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="/AIIT/admin/content/content_home"
			data-target="#collapseUtilities" aria-expanded="true"
			aria-controls="collapseUtilities"> <i class="fas fa-fw fa-wrench"></i>
				<span>詩歌錄音</span>
		</a> <!-- 			<div id="collapseUtilities" class="collapse" --> <!-- 				aria-labelledby="headingUtilities" data-parent="#accordionSidebar"> -->
			<!-- 				<div class="bg-white py-2 collapse-inner rounded"> --> <!-- 					<h6 class="collapse-header">Custom Content:</h6> -->
			<!-- 					<a class="collapse-item" href="/admin/conent/content_home.html">Content</a> -->
			<!-- 				</div> --> <!-- 			</div> --></li>
		<!--              Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed"
			href="/AIIT/admin/forum/forum_home" data-target="#collapseUtilities"
			aria-expanded="true" aria-controls="collapseUtilities"> <i
				class="fas fa-fw fa-wrench"></i> <span>文章</span>
		</a> <!-- 			<div id="collapseUtilities" class="collapse" --> <!-- 				aria-labelledby="headingUtilities" data-parent="#accordionSidebar"> -->
			<!-- 				<div class="bg-white py-2 collapse-inner rounded"> --> <!-- 					<h6 class="collapse-header">Custom Forum:</h6> -->
			<!-- 					<a class="collapse-item" href="/admin/forum/forum_home.html">Forum</a> -->
			<!-- 				</div> --> <!-- 			</div> --></li>

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

	</ul>

</body>
</html>