
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Custom fonts for this template -->
<link href="../../admin/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../admin/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="../../admin/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<title>詩歌預覽</title>

<style>
.div1 {
	border: 2px solid #0B1A4A;
	border-radius: 20px;
	width: 600px;
	margin: 50px auto;
}

.head2 {
	margin: 20px auto;
	text-align: center;
}

.divForm {
	width: 500px;
	margin: 20px auto;
	text-align: left;
}

.divInput {
	margin: 10px auto;
	text-align: center;
}

h3 {
	justify-content: center;
}

input {
	width: 250px;
}

td, th, audio {
	width: 250px
}

.btn {
	width: 100px;
}

textarea {
	resize: none;
}

img {
	width: auto;
	/* 	height: 100px; */
	/* 	margin-right: 10px; */
}

imgth {
	width: 123px;
	height: 103px;
	margin-right: 13px;
}
</style>
</head>
<body>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="admin/sidebar.html"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div th:replace="admin/topbar.html"></div>
			<div id="content" class="div1">
				<form>
					<h3 th:text="${findbyaudioid.audio_type} + '預覽 '"></h3>
					<div class="divForm"></div>
					<table>
						<tr>
							<td><label for="audio_id">音檔編號</label>
							<td><input id="audio_id" th:value="${findbyaudioid.audio_id}"
								disabled></td>
						</tr>
						<tr>
							<td><label for="audio_name">錄音檔名</label>
							<td><input id="audio_name"
								th:value="${findbyaudioid.audio_name}" disabled></td>
						</tr>
						<tr>
							<td><label for="audio_originalName">音檔原曲名稱</label>
							<td><input id="audio_originalName"
								th:value="${findbyaudioid.audio_originalName}" disabled></td>
						</tr>
						<tr>
							<td><label for="audio_member">上傳者</label>
							<td><input th:value="${findbyaudioid.audio_member}" disabled></td>
						</tr>
						<tr>
							<td><label for="audio_type">音檔種類</label>
							<td><input th:value="${findbyaudioid.audio_type}" disabled></td>
						</tr>

						<tr>
							<td><label for="opus_audio">詩歌錄音</label></td>
							<td><audio id="audio-1" controls="controls">
									<source
										th:src="@{/audioFileTempDir/} + ${findbyaudioid.audio_audioName}" src=""/>
								</audio></td>
						</tr>
						<tr>
							<td><label for="audio_createDateTime">建立時間</label></td>
							<td><input id="audio_createDateTime" disabled
								th:value="${#dates.format(findbyaudioid.audio_createDateTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<td><label for="audio_lastDateTime">最後更新時間</label></td>
							<td><input id="audio_lastDateTime" disabled
								th:value="${#dates.format(findbyaudioid.audio_lastDateTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<td><label for="audio_content">備註:</label></td>
							<td><input id="audio_content" disabled
								th:value="${findbyaudioid.audio_content}"></td>
						</tr>
					</table>
					<div class="divInput">
						<a th:href="@{/admin/audio/audio_home}"><input type="button"
							value="取消"></a>
					</div>
			</div>

			</form>
		</div>
	</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="../../admin/vendor/jquery/jquery.min.js"></script>
	<script src="../../admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../../admin/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="../../admin/js/sb-admin-2.min.js"></script>


	<!-- Page level plugins -->
	<script src="../../admin/vendor/datatables/jquery.dataTables.min.js"></script>
	<script
		src="../../admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="../../admin/js/demo/datatables-demo.js"></script>
</body>
</html>