
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Custom fonts for this template -->
<link href="../../vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="../../vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<title>詩歌預覽</title>

<style>
.div1 {
	border: 2px solid #0B1A4A;
	border-radius: 20px;
	width: 600px;
	margin: 50px auto;
}

.head2 {
	margin: 20px auto;
	text-align: center;
}

.divForm {
	width: 500px;
	margin: 20px auto;
	text-align: left;
}

.divInput {
	margin: 10px auto;
	text-align: center;
}

h3 {
	justify-content: center;
}

input {
	width: 250px;
}

td, th, audio {
	width: 250px
}

.btn {
	width: 100px;
}

textarea {
	resize: none;
}

img {
	width: auto;
	/* 	height: 100px; */
	/* 	margin-right: 10px; */
}

imgth {
	width: 123px;
	height: 103px;
	margin-right: 13px;
}
</style>
</head>
<body>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="admin/sidebar.html"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div th:replace="admin/topbar.html"></div>
			<div id="content" class="div1">
				<form>
					<h3>詩歌預覽</h3>
					<div class="divForm"></div>
					<table>
						<tr>
							<td><label for="opus_id">詩歌扁號</label>
							<td><input id="opus_id" th:value="${findbyopusid.opus_id}"
								disabled></td>
						</tr>
						<tr>
							<td><label for="opus_name">詩歌名稱</label>
							<td><input th:value="${findbyopusid.opus_name}" disabled></td>
						</tr>
						<tr>
							<td><label for="opus_member">上傳者</label>
							<td><input th:value="${findbyopusid.opus_member}" disabled></td>
						</tr>
						<tr>

							<td><label for="opus_imageName">檔案名稱</label></td>
							<td><img class="img-thumbnail"
								th:src="@{/imageFileTempDir/} + ${findbyopusid.opus_imageName}"
								alt="" /></td>

						</tr>
						<tr>
							<td><label for="opus_audio">詩歌錄音</label></td>
							<td><audio id="audio-1" controls="controls">
									<source
										th:src="@{/audioFileTempDir/} + ${findbyopusid.opus_audioName}" />
								</audio></td>
						</tr>
						<tr>
							<td><label for="opus_createdatetime">建立時間</label></td>
							<td><input id="opus_createdatetime" disabled
								th:value="${#dates.format(findbyopusid.opus_createdatetime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<td><label for="opus_lastdatetime">最後更新時間</label></td>
							<td><input id="opus_lastdatetime" disabled
								th:value="${#dates.format(findbyopusid.opus_lastdatetime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<td><label for="opus_content">備註:</label></td>
							<td><input id="opus_content" disabled
								th:value="${findbyopusid.opus_content}"></td>
						</tr>
					</table>
					<div class="divInput">
						<a th:href="@{/admin/opus/opus_home}"><input type="button"
							value="取消"></a>
					</div>
			</div>

			</form>
		</div>
	</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="../js/sb-admin-2.min.js"></script>


	<!-- Page level plugins -->
	<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="../js/demo/datatables-demo.js"></script>

</body>
</html>